.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.gridTemplate {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 24px;
    margin-top: 56px;
}

h1{
    font: var(--title-lg);
    color: var(--gray-600);
}

h2{
    font: var(--title-md);
    color: var(--gray-600);
}

h3 {
    font: var(--title-sm);
}

.subtitle {
    font: var(--subtitle);
    color: var(--gray-500);
}

.textMd {
    font: var(--text-md);
}

.textSm {
    font: var(--text-sm);
}
