
h1{
    font: var(--title-lg);
    color: var(--gray-600);
}

h2{
    font: var(--text-md);
}

h3 {
    font: var(--text-sm);
}

.subtitle {
    font: var(--subtitle)
}

.textMd {
    font: var(--text-md)
}

.textSm {
    font: var(--text-sm)
}